<%- include('header'); %>

<link rel="stylesheet" href="static/css/courses.css">

<section>
    <h1>Here's detailed list of major courses that we offer</h1>

    <div class="courses">
        <hr>
        <div>
            <h1>BCA</h1>
            <p>
                Bachelor of Computer Applications is a three-year undergraduate course which deals with information technology and computer applications. The course imparts knowledge about different computer applications and how to solve and address the problems which arise from a computer and its applications. The course includes subjects such as core programming languages Java and C++, data structure, networking and others. BCA provides various opportunities to the students who wish to pursue their career in IT and software.
            </p>
            <table>
                <tr><th>Course Level</th> <td>Graduate</td></tr>
                <tr><th>Duration</th> <td>3 years</td></tr>
                <tr><th>Eligibility</th> <td>10+2 with science subjects</td></tr>
                <tr><th>Average Starting Salary</th> <td>INR 2.5 LPA to 3 LPA</td></tr>
                <tr><th>Integrated Course</th> <td>BCA + Industry integrated</td></tr>
            </table>
        </div>
        <hr>
        <div>
            <h1>MCA</h1>
            <p>
                The MCA program focuses on providing a sound theoretical background as well as good practical exposure to students in the relevant areas. It is intended to provide modern, industry-oriented education in applied computer science. It aims at producing trained professionals who can successfully meet the demands of the information technology industry.
            </p>
            <table>
                <tr><th>Course Level</th> <td>Post-Graduate</td></tr>
                <tr><th>Duration</th> <td>2 years</td></tr>
                <tr><th>Eligibility</th> <td>BCA with atleast 75 CGPA</td></tr>
                <tr><th>Average Starting Salary</th> <td>INR 3 to 5 LPA</td></tr>
                <tr><th>Integrated Course</th> <td>BCA + MCA</td></tr>
            </table>
        </div>
        <hr>
        <div>
            <h1>Bsc. IT</h1>
            <p>
                BSc (Bachelor of Science) in IT is basically about storing, processing, securing, and managing information. This degree is primarily focused on subjects such as software, databases, and networking. The BSc degree in IT is awarded for completing a programme of study in the field of software development, software testing, software engineering, web design, databases, programming, computer networking and computer systems. Graduates with an information technology background are able to perform technology tasks relating to the processing, storing, and communication of information between computers, mobile phones, and other electronic devices.
            </p>
            <table>
                <tr><th>Course Level</th> <td>Graduate</td></tr>
                <tr><th>Duration</th> <td>3 Years</td></tr>
                <tr><th>Eligibility</th> <td>10+2 with science subjects</td></tr>
                <tr><th>Average Starting Salary</th> <td>INR 2 to 4 LPA</td></tr>
            </table>
        </div>
        <hr>
        <div>
            <h1>B. Tech</h1>
            <p>
                Bachelors of Technology often referred to as B.Tech, is a four-year full-time course that cover different fields of engineering and technology. The course is designed to develop the technical skills of aspirants who wish the work in the core technology and development sector. B.Tech comprises both theoretical and practical knowledge.            
            </p>
            <table>
                <tr><th>Course Level</th> <td>Graduate</td></tr>
                <tr><th>Duration</th> <td>4 Years</td></tr>
                <tr><th>Eligibility</th> <td>Class 12th with PCM stream</td></tr>
                <tr><th>Integrated Courses</th> <td>B.Tech + M.Tech</td></tr>
            </table>
        </div>
        <hr>
        <div>
            <h1>M. Tech</h1>
            <p>
                Master of Technology is a professional postgraduate engineering master degree programme awarded to candidates after completion of two years of study in the discipline of engineering. This degree is predicated in a specific branch of engineering.
            </p>
            <table>
                <tr><th>Course Level</th> <td>Post-Graduate</td></tr>
                <tr><th>Duration</th> <td>2 years</td></tr>
                <tr><th>Eligibility</th> <td>B. Tech with atleast 80 CGPA</td></tr>
                <tr><th>Starting Salary</th> <td>INR 3 to 6 LPA</td></tr>
                <tr><th>Integrated Courses</th> <td>B.Tech + M.Tech</td></tr>
            </table>
        </div>

        <hr>

    </div>

    <div class="enroll">
        <h1>Enroll while you still have the chance!</h1>
        <div>
            <a href="/enroll">enroll now</a>
        </div>
    </div>

</section>

<%- include('footer'); %>