<%- include('header'); -%>

    <link rel="stylesheet" href="/static/css/homepage.css">
    
    <section id="intro">
        
        <div class="desc">
            <p> India's Number 1 University in ISPC top-ranking 2021.</p>
            <h1>Uncle Saint University</h1>
        </div>

        <div class="intro">
            <div id="illus1">
                <img src="/static/img/Education.png" alt="some illustration">
            </div>
            <div class="quote">
                <h1>Enrollment Opens Now.</h1>
                <p>
                    This year our curiculum for selecting student will be bit different,
                    we have posted a certain criteria. 
                    <br><br>
                    Students whose marks satisfies that critera can enroll to acquire seat.
                    <br><br><br>
                    We have limited seat avaliable. We will be post how many and which students gets through enrollment process and updated result will be posted on <span>Qualified Students</span> page of our website.
                </p>

                <div class="btns">
                    <a href="/enroll">enroll now</a>
                    <a href="/qualified">enrolled list</a>
                </div>
            </div>
        </div>

        <div id="blockCover">
            <blockquote>
                “ Wisdom is not a product of schooling but of the lifelong attempt to acquire it. ”<br>
                <br>
                <span>Albert Einstein</span>
            </blockquote>
        </div>
    </section>

    


    <section id="two">

        <div class='feature'>
            <h1>Facilities & assets</h1>

            <p>
                We provede at-most resources and facilities to comfort our students, 
                So that they can do their best.
                <br><br>
                Students are facilitated with best technologies in computer and medical department,
                we insure that out coming generation has every possible experience and exposure to interested subjects.
            </p>

            <div class="showcase">
                
                <div>
                    <div>
                        <img src="static/img/student.jpg" alt="">
                    </div>
                    <p>Well desciplined system for students welfate and healthcare. Providing all Facilities to make our children comfort.</p>
                </div>

                <div>
                    <div>
                        <img src="static/img/building.jpg" alt="">
                    </div>
                    <p>Huge campus to support all sorts of Educational as well as cariulum activities.</p>
                </div>

                <div>
                    <div>
                        <img src="static/img/computer.jpg" alt="">
                    </div>
                    <p>Latest computer and technologies helps students getting exposure of professional world.</p>
                </div>
                
            </div>
        </div>



        <div class="contact">

            <div class="con">
                <h1>Contact Us</h1>
                <p>
                    You can ask your queries and questions concerning admissions and curiculum.
                    <br><br>
                    Our help is available 24/7. If you've already reached us out using this platform, then kindly wait for our response before sending multiple queries on same topic.
                    <br><br>
                    Kind regards, <br>
                    <strong>Asem</strong>, Admin, Uncle Saint University
                </p>
                <div class="btns">
                    <a href="/contact">contact us</a>
                </div>
            </div>

            <div class="illus2">
                <img src="/static/img/contact.png" alt="">
            </div>

        </div>

    </section>




<%- include('footer'); -%>